@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the entire website */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  scroll-behavior: smooth;

}

.objectPositionforeground{
  object-position: -200px 100px;
}
.objectPositionbackground{
  object-position: -300px ;
}
.objectPositiontemplate{
  background-position: -45rem bottom;
}
.objectPositionfield{
  background-position: 95rem bottom;
}
.objectPositionsakura{
  background-position: center bottom;
}

.objectPositionsakura2{
  background-position: 2rem bottom;
}

.objectPositionday  {
  background-position: right top;
}
.objectPositionday2  {
  background-position: right bottom;
}
.font-border{
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}
.font-border2 {
  text-shadow: 
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff;
}



.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  /* text-align: center; */
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
.br {
  position:relative;
}

.br:after {
  display: block;
  content: "";
  width: 5vw;
  height: 5vh;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 3px solid white;
  border-left: 3px solid white;
}
.br:before {
  display: block;
  content: "";
  width: 5vw;
  height: 5vh;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}
.wrapper{
  transform: translate(0%,0%);
  border: 1.5px solid #7C3AED;
}

.a{
  color: #7C3AED;
  transition: all .35s;
}

.span{
  position: relative;
  z-index: 2;
}

.a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7C3AED;
  transition: all .35s;
}

.a:hover{
  color: #fff;
}

.a:hover:after{
  width: 100%;
}