@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the entire website */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.objectPositionforeground{
  object-position: -200px 100px;
}
.objectPositionbackground{
  object-position: -300px ;
}
.objectPositiontemplate{
  object-position: -900px ;
}
.objectPositionfield{
  object-position: -200px ;
}
.objectPositionsakura{
}
.objectPositionday  {
  object-position: -500px ;
}

